ehtml2text==2020.1.13
flashtext==2.7
html2text==2020.1.16
murmurhash==1.0.2
pyate==0.3.1
PySocks==1.7.1
pytz==2020.1
requests==2.23.0
spacy==2.2.4
spacy-lookup==0.1.0
tabulate==0.8.7
selenium==3.141.0
